.ano-atual{
    font-size: 100%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
        }
.clock-container{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  url(clock.png);
    background-size: cover;
    border: 4px solid #091921;
    border-radius: 50%;
    box-shadow: 0 -15px 15px rgba(255,255,255,0.05),
                inset 0 -15px 15px rgba(255,255,255,0.05),
                0 15px 15px rgba(0,0,0,0.3),
                inset 0 15px 15px rgba(0,0,0,0.3);

}
.clock-container::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    z-index: 10000;
}
.clock-number{
    width: 160px;
    height: 160px;
    padding: 8px;
    position: absolute;   
}
.clock-number::after{
    content: "";
    position: absolute;
    width: 3px;
    height: 15px;
    background-color: #000;
    top: 13%;
}
 .clock-hand{
     width: 190px;
     height: 190px;
     position: absolute;
 }
 .clock-hand >div{
     left: 50%;
     bottom: 50%;
     transform: translateX(-50%);
     position: absolute;
 }
 .clock-hand .second{
width: 1px;
height: 110px;
 }
 .clock-hand .second::after
 {
    content: '';
    position: absolute;
    width: 2px;
    height: 110px;
    background: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
 }

 .minute{
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;

}.hour{
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
} 